# Predicting STOCK

code = 005930

In [1]:
from datetime import datetime
import numpy as np
import pandas
import pandas as pd
from pandas import Series
import sys
sys.path.append('../lib/')
from dbConnect import *

C:\Users\trimu\Miniconda3\envs\py36_64\lib\site-packages\pymysql\cursors.py:165: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 481")
  result = self._query(query)

In [2]:
end_date = '2016-12-31'
lags = 10
start_test = '2014-01-01'

In [3]:
code = "005930"
df = pd.read_sql("SELECT * from dailycandle where code ='" + code + "' and date < '" + end_date + "'" , con=engine)
df.loc[:,'date'] = pd.to_datetime(df.loc[:,'date'])
df.set_index('date', inplace=True)

In [4]:
df.tail()

              code     open     high      low    close  volume
date
2016-12-23  005930  1801000  1804000  1780000  1782000  166697
2016-12-26  005930  1780000  1800000  1778000  1798000   96472
2016-12-27  005930  1799000  1810000  1793000  1799000   93069
2016-12-28  005930  1792000  1799000  1780000  1788000  133258
2016-12-29  005930  1771000  1802000  1770000  1802000  150329

In [5]:
df["returns"] = df["close"].pct_change()

In [6]:
df['returns'] = df["returns"].shift(-1)

In [7]:
df.dropna(inplace=True)

In [8]:
df

              code     open     high      low    close  volume   returns
date
1985-01-04  005930     6511     6511     6473     6473    2232 -0.007106
1985-01-05  005930     6434     6465     6427     6427    2167  0.002334
1985-01-07  005930     6434     6511     6427     6442   15417 -0.013039
1985-01-08  005930     6434     6434     6358     6358   16879 -0.034917
1985-01-09  005930     6312     6312     6090     6136    6488  0.011245
1985-01-10  005930     6189     6274     6189     6205    9242  0.006124
1985-01-11  005930     6228     6274     6205     6243    7950  0.017139
1985-01-12  005930     6358     6358     6320     6350   10261 -0.004724
1985-01-14  005930     6358     6358     6266     6320    4308  0.002373
1985-01-15  005930     6327     6358     6327     6335   10522 -0.015785
1985-01-16  005930     6335     6335     6212     6235    3851 -0.002406
1985-01-17  005930     6243     6243     6205     6220   10026  0.000000
1985-01-18  005930     6205     6228     6205     6220    6618 -0.002412
1985-01-19  005930     6205     6220     6205     6205    2976  0.000000
1985-01-21  005930     6205     6205     6205     6205   10861  0.000000
1985-01-22  005930     6205     6220     6197     6205    9164 -0.018533
1985-01-23  005930     6205     6266     5982     6090   15417  0.006240
1985-01-24  005930     6128     6205     6128     6128   14020  0.000000
1985-01-25  005930     6151     6166     6128     6128    4817  0.000000
1985-01-26  005930     6128     6143     6128     6128    6279  0.001305
1985-01-28  005930     6128     6143     6128     6136   14973 -0.001304
1985-01-29  005930     6136     6166     6113     6128   19086  0.003753
1985-01-30  005930     6136     6166     6136     6151   20143  0.000000
1985-01-31  005930     6166     6189     6151     6151    7180 -0.001301
1985-02-01  005930     6166     6166     6136     6143   10809  0.010093
1985-02-02  005930     6258     6258     6151     6205    6553 -0.003707
1985-02-04  005930     6205     6281     6166     6182   13563  0.003720
1985-02-05  005930     6205     6205     6182     6205    8798  0.002417
1985-02-06  005930     6205     6243     6205     6220    5574 -0.011093
1985-02-07  005930     6212     6212     6151     6151   11684  0.007478
...            ...      ...      ...      ...      ...     ...       ...
2016-11-17  005930  1555000  1576000  1545000  1568000  157411  0.011480
2016-11-18  005930  1582000  1588000  1570000  1586000  189215  0.004414
2016-11-21  005930  1565000  1606000  1565000  1593000  163604  0.029504
2016-11-22  005930  1607000  1645000  1600000  1640000  195022  0.005488
2016-11-23  005930  1661000  1661000  1626000  1649000  253372  0.000606
2016-11-24  005930  1649000  1652000  1633000  1650000  155143  0.000000
2016-11-25  005930  1641000  1652000  1633000  1650000  125538  0.016364
2016-11-28  005930  1650000  1681000  1640000  1677000  265881  0.000000
2016-11-29  005930  1690000  1698000  1669000  1677000  361626  0.041145
2016-11-30  005930  1677000  1747000  1677000  1746000  570704  0.001718
2016-12-01  005930  1740000  1753000  1733000  1749000  310707 -0.012579
2016-12-02  005930  1724000  1738000  1707000  1727000  307059 -0.005211
2016-12-05  005930  1717000  1734000  1711000  1718000  169692  0.017462
2016-12-06  005930  1722000  1760000  1720000  1748000  280036  0.013730
2016-12-07  005930  1752000  1774000  1752000  1772000  192073  0.010158
2016-12-08  005930  1799000  1801000  1776000  1790000  329251 -0.005587
2016-12-09  005930  1795000  1795000  1770000  1780000  213049 -0.015730
2016-12-12  005930  1733000  1768000  1733000  1752000  228289  0.007991
2016-12-13  005930  1731000  1772000  1731000  1766000  233689  0.006229
2016-12-14  005930  1778000  1784000  1764000  1777000  149102 -0.010129
2016-12-15  005930  1741000  1775000  1741000  1759000  115471  0.019329
2016-12-16  005930  1765000  1801000  1760000  1793000  234954  0.001115
2016-12-19  005930  1781000  1819000  1781000  1795000  108716  0.009471
2016-12-20  005930  1796000  1820000  1792000  1812000  152304 -0.003863
2016-12-21  005930  1818000  1830000  1801000  1805000  131042  0.002216
2016-12-22  005930  1813000  1815000  1799000  1809000  127092 -0.014925
2016-12-23  005930  1801000  1804000  1780000  1782000  166697  0.008979
2016-12-26  005930  1780000  1800000  1778000  1798000   96472  0.000556
2016-12-27  005930  1799000  1810000  1793000  1799000   93069 -0.006115
2016-12-28  005930  1792000  1799000  1780000  1788000  133258  0.007830

[8550 rows x 7 columns]

Stochastic %K : $$\%K = \frac{C - L_{14}}{H_{14} - L_{14}} * 100 $$
C : 가장 최근 종가, L14: 이전 14 거래일 중 최저가, H14: 이전 14 거래일 중 최고가

tmpdf = df.copy(deep=True)

tmpdf['H14'] = Series.rolling(tmpdf['high'], window=14).max()
tmpdf['L14'] = Series.rolling(tmpdf['low'], window=14).min()
df['%K'] = (tmpdf['close'] - tmpdf['L14']) / (tmpdf['H14'] - tmpdf['L14']) * 100
df['%D'] = Series.rolling(df['%K'], window=3).mean()
df['slow%D'] = Series.rolling(df['%D'], window=3).mean()

Accumulation Distribution Oscillator (ADO) $$ADO = \frac{H_t - C_{t-1}}{H_t - L_t}$$ where C : t-1 의 close, $\quad L_t: low, \quad 
H_t: high$

tmpdf = df.copy(deep=True)

tmpdf['Ct-1'] = tmpdf['close'].shift(1)

df['ADO'] = (tmpdf['high'] - tmpdf['Ct-1']) / (tmpdf['high'] - tmpdf['low'])

CCI(Commodity Channel Index) $$CCI = \frac{M_t - SM_t}{0.015D_t}$$ where $M_t = \frac {(H_t + L_t + C_t)}{3},\quad$ SM_t (n day moving average) $\quad \frac{\sum_{i=1}^{n}M_{t-i+1}}{n}, \quad D_t$(normal deviation) : $\frac{\sum_{i=1}^{n}\mid M_{t-i+1}-SM_t \mid}{n}$

+100: 상승돌파 - 단기매도,  하향돌파 - 단기매수

-100: 하향돌파 - 단기매도, 상향돌파 - 단기매수

tmpdf = df.copy(deep=True)

tmpdf['M'] = (tmpdf['high'] + tmpdf['low'] + tmpdf['close']) / 3
tmpdf['SM'] = tmpdf['M'].rolling(window=20).mean()
tmpdf['D'] =  (tmpdf['M'] - tmpdf['SM']).abs().rolling(window=20).mean()
df['CCI'] = (tmpdf['M'] - tmpdf['SM']) / (0.015 * tmpdf['D'])

Larry William's R% : $$\%R = 100 * \frac{H_r - C}{H_r - L_r}$$
r: 선정된 기간, C: 최근 종가, Hr: 선정된 기간의 고점, Lr: 선정된 기간의 저점

선정된 기간의 주가 범위와 현재의 종가를 측정하여 0 ~ 100% 사이에서 결정. 설정기간 7 일(주간차트)이 효과적. 매수과 매도 세력간의 종가관리 능력 측정

%R = (Highest High - Close)/(Highest High - Lowest Low) * -100

Lowest Low = lowest low for the look-back period

Highest High = highest high for the look-back period

%R is multiplied by -100 correct the inversion and move the decimal.

tmpdf = df.copy(deep=True)
tmpdf['Hr'] = Series.rolling(tmpdf['high'], window=7).max()
tmpdf['Lr'] =  Series.rolling(tmpdf['low'], window=7).min()
df['%R'] = 100 * (tmpdf['Hr'] - tmpdf['close']) / (tmpdf['Hr'] - tmpdf['Lr'])

tmpdf = df[['close']].copy(deep=True)

tmpdf['ewma12'] = Series.ewm(tmpdf['close'], span=12).mean()
tmpdf['ewma26'] = Series.ewm(tmpdf['close'], span=25).mean()
df['MACD'] = tmpdf['ewma12'] - tmpdf['ewma26']

Momentum = $$C_t - C_{t - n} $$

tslag = df[['close']].copy(deep=True)
for i in range(0, lags):
    tslag["Lag_" + str(i+1)] = tslag["close"].shift(i+1)

df['momentum'] = tslag['close'] - tslag['Lag_10']

ROC : Price Rate Of Change (일정시점의 가격 변화율을 백분율로 나타낸 것) $$ ROC = \frac{C_t}{C_{t-n}} * 100 $$

df['ROC'] = tslag['close'] / tslag['Lag_10'] * 100

RSI (Relative Strength Index) $$ RSI = 100 - (\frac{100}{1 + RS})$$ RS = $\frac{Average Gain}{Average Loss}$

tmpdf = df[['close']].copy()

delta = tmpdf['close'].diff()
delta = delta[1:]

up, down = delta.copy(), delta.copy()
up[up < 0] = 0
down[down > 0] = 0.0001

roll_up = up.ewm(span=14).mean()
roll_down = down.abs().ewm(span=14).mean()

RS = roll_up / roll_down
RSI = 100.0 - (100.0 / (1.0 + RS))
df['RSI'] = RSI

df['SMA'] = Series.rolling(df['close'], window=10).mean()

df['WMA'] = Series.ewm(df['close'], span=10).mean()

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as QDA

In [10]:
df.dropna(inplace=True)
df["Direction"] = np.sign(df["returns"])

In [12]:
df.head()

              code  open  high   low  close  volume   returns  Direction
date
1985-01-04  005930  6511  6511  6473   6473    2232 -0.007106       -1.0
1985-01-05  005930  6434  6465  6427   6427    2167  0.002334        1.0
1985-01-07  005930  6434  6511  6427   6442   15417 -0.013039       -1.0
1985-01-08  005930  6434  6434  6358   6358   16879 -0.034917       -1.0
1985-01-09  005930  6312  6312  6090   6136    6488  0.011245        1.0

X = df.loc[:,"open":"WMA"]
y = df.loc[:,["Direction"]]

In [21]:
X = df.drop(columns=['returns', 'Direction'])
y = df['Direction']

In [22]:
# Create training and test sets
X_train = X[X.index < start_test]
X_test = X[X.index >= start_test]
y_train = y[y.index < start_test]
y_test = y[y.index >= start_test]

In [23]:
X_train.head()

              code  open  high   low  close  volume
date
1985-01-04  005930  6511  6511  6473   6473    2232
1985-01-05  005930  6434  6465  6427   6427    2167
1985-01-07  005930  6434  6511  6427   6442   15417
1985-01-08  005930  6434  6434  6358   6358   16879
1985-01-09  005930  6312  6312  6090   6136    6488

In [24]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
pred = (1.0 + y_pred * y_test)/2.0
hit_rate = np.mean(pred)
print('Logistic Regresstion {:.3f}'.format(hit_rate))

Logistic Regresstion 0.539

In [25]:
lda = LDA()
lda.fit(X_train, y_train)
y_pred = lda.predict(X_test)
pred = (1.0 + y_pred * y_test)/2.0
hit_rate = np.mean(pred)
print('LDA {:.3f}'.format(hit_rate))

LDA 0.537

C:\Users\trimu\Miniconda3\envs\py36_64\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [26]:
y_pred[:10]

array([ 1.,  1.,  1.,  1.,  1., -1.,  1., -1.,  1., -1.])

In [27]:
y_test.head(10)

date
2014-01-02   -1.0
2014-01-03    1.0
2014-01-06   -1.0
2014-01-07   -1.0
2014-01-08   -1.0
2014-01-09   -1.0
2014-01-10    1.0
2014-01-13    1.0
2014-01-14   -1.0
2014-01-15    1.0
Name: Direction, dtype: float64

In [28]:
models = QDA()
models.fit(X_train, y_train)
y_pred = models.predict(X_test)
pred = (1.0 + y_pred * y_test)/2.0
hit_rate = np.mean(pred)
print('QDA {:.3f}'.format(hit_rate))

QDA 0.537

C:\Users\trimu\Miniconda3\envs\py36_64\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

***