In [2]:
from scipy import stats
import pandas as pd
import datetime
import sys
sys.path.append('../lib/')

from dbConnect import *

import matplotlib.pyplot as plt
import matplotlib
matplotlib.rc('font', family='Malgun Gothic')

start = pd.to_datetime('2017-03-01')
end = pd.to_datetime('2018-2-28')

period = 1  # duration of pct_change

# Get Index -------------------------------------------------------
market = "201"   # KOSPI200

KOSPI200 = pd.read_sql("SELECT * from marketcandle where code='" + market + "'", con, index_col=["date"])

KOSPI200.index = KOSPI200.index.to_datetime()
KOSPI200 = KOSPI200[(KOSPI200.index >= start) & (KOSPI200.index <= end)]
KOSPI200.index.name = 'date'

KOSPI200['Daily Return'] = KOSPI200['close'].pct_change(period)

C:\Users\trimu\Miniconda3\envs\py34_32\lib\site-packages\pymysql\cursors.py:166: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 481")
  result = self._query(query)
C:\Users\trimu\Miniconda3\envs\py34_32\lib\site-packages\pymysql\cursors.py:166: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [3]:
batch_codes = pd.read_sql("select code from stockcode where kospi200 = true and fscore >= 7", conn)['code'].tolist()

In [6]:
len(batch_codes)

69

In [25]:
code = '101'
df = pd.read_sql("SELECT * from marketcandle where code ='" + code + "'", conn, index_col=["date"])

In [26]:
df

           code    open    high     low   close   volume
date
1997-01-03  101  119510  119510  119510  119510        9
1997-01-04  101  118900  118900  118900  118900      214
1997-01-06  101  117350  117350  117350  117350       37
1997-01-07  101  115700  115700  115700  115700      238
1997-01-08  101  115150  115150  115150  115150       87
1997-01-09  101  116270  116270  116270  116270       96
1997-01-10  101  116910  116910  116910  116910      217
1997-01-11  101  117690  117690  117690  117690       39
1997-01-13  101  117280  117680  116610  117440      106
1997-01-14  101  117430  117810  117090  117810       74
1997-01-15  101  117810  118160  117350  117990      108
1997-01-16  101  117940  118480  117700  118250      191
1997-01-17  101  118410  119020  118350  119020       65
1997-01-18  101  119050  119440  118170  118600       40
1997-01-20  101  118670  120000  118660  120000      216
1997-01-21  101  120090  120620  119290  119890      292
1997-01-22  101  119990  119990  118120  119240       66
1997-01-23  101  119090  119660  118260  118970       99
1997-01-24  101  119100  119100  118060  118800       70
1997-01-25  101  118820  119570  118780  119570       30
1997-01-27  101  119640  119940  118960  119360      101
1997-01-28  101  119350  119450  118070  119270      271
1997-01-29  101  119260  119670  118900  119660       80
1997-01-30  101  119670  120150  119510  120150      110
1997-01-31  101  120250  120790  119800  120790       73
1997-02-01  101  120810  121090  120270  120680      121
1997-02-03  101  120610  121050  120580  120710       81
1997-02-04  101  120880  120970  120460  120720       81
1997-02-05  101  120830  121360  120820  121160       55
1997-02-06  101  121270  121480  120190  120470       77
...         ...     ...     ...     ...     ...      ...
2018-01-16  101   88923   90123   88476   90123  1009399
2018-01-17  101   90237   90595   88491   88658  1211998
2018-01-18  101   89250   89985   88767   89819  1260160
2018-01-19  101   90285   90297   87543   87999  1164749
2018-01-22  101   87595   88085   86438   87309  1126585
2018-01-23  101   88168   89443   87768   89443  1047348
2018-01-24  101   90162   90317   89103   89477  1011725
2018-01-25  101   89421   89860   88797   89860  1025037
2018-01-26  101   89853   91312   89532   91312  1080156
2018-01-29  101   91426   92935   91422   92705  1279562
2018-01-30  101   92872   93201   91879   92096  1243821
2018-01-31  101   91089   91778   90352   91357  1195259
2018-02-01  101   91678   91990   90135   90820  1407688
2018-02-02  101   91146   91177   88797   89947  1373001
2018-02-05  101   87663   88330   85822   85822  1043126
2018-02-06  101   82124   85874   81446   85817  1062693
2018-02-07  101   87475   87503   82996   82996  1033318
2018-02-08  101   83489   86704   82464   86194   796313
2018-02-09  101   83213   85070   83213   84260   764447
2018-02-12  101   85409   85494   84324   84324   692304
2018-02-13  101   85294   85408   82939   82939   832909
2018-02-14  101   83560   84803   83078   84803   722666
2018-02-19  101   85578   87581   85558   87581   684361
2018-02-20  101   87399   87790   86150   86441   797235
2018-02-21  101   86792   87769   86421   87558   814576
2018-02-22  101   87172   87348   86389   87022   857859
2018-02-23  101   87352   87573   87141   87478   770224
2018-02-26  101   88136   88426   86966   87443   802090
2018-02-27  101   88088   88204   87400   87401   794503
2018-02-28  101   86650   86853   85390   85706   820922

[5319 rows x 6 columns]

code = '005930'
df = pd.read_sql("SELECT * from marketcandle where code ='" + code + "'", conn, index_col=["date"])

In [27]:
df.index = df.index.to_datetime()
df = df[(df.index >= start) & (df.index <= end)]
df.index.name = 'date'

df = df[~df.index.duplicated(keep='first')]  # remove duplicated data if there is

df['Daily Return'] = df['close'].pct_change(period)

In [28]:
 beta,alpha,r_value,p_value,std_err = stats.linregress(KOSPI200['Daily Return'].iloc[period:], \
                                            df['Daily Return'].iloc[period:])

In [29]:
beta

0.73569222620180119

In [3]:
for code in batch_codes:
    df = pd.read_sql("SELECT * from dailycandle where code ='" + code + "'", conn, index_col=["date"])

    df.index = df.index.to_datetime()
    df = df[(df.index >= start) & (df.index <= end)]
    df.index.name = 'date'

    df = df[~df.index.duplicated(keep='first')]  # remove duplicated data if there is

    df['Daily Return'] = df['close'].pct_change(period)

    if df.shape != KOSPI200.shape:
        if df.empty:
            print('code : {} DataFrame is empty!'.format(code))
        else:
            print('Shape of code {} is different from KOSPI200 shape'.format(code))
            print('Shape = ', df.shape, ' vs. ', KOSPI200.shape)
    else:
        beta,alpha,r_value,p_value,std_err = stats.linregress(KOSPI200['Daily Return'].iloc[period:], \
                                            df['Daily Return'].iloc[period:])
        print(beta, alpha)
        print("code= {}, beta= {}".format(code, beta))
        sql = "UPDATE stockCode SET beta = {} WHERE code= '{}'".format(beta, code)
        cursor.execute(sql)

con.commit()

0.714519388963 0.000534970684111
code= 000030, beta= 0.7145193889628626
-0.0284914405768 0.000166750044779
code= 000050, beta= -0.028491440576836426
0.0 0.0
code= 000070, beta= 0.0
0.402202294496 0.00011555451766
code= 000080, beta= 0.40220229449606365
0.0 0.0
code= 000100, beta= 0.0
0.0 0.0
code= 000120, beta= 0.0
0.0 0.0
code= 000150, beta= 0.0
0.0 0.0
code= 000210, beta= 0.0
0.122495650233 -4.47578896296e-05
code= 000240, beta= 0.12249565023301622
0.376905505559 -0.000443888627897
code= 000270, beta= 0.3769055055587786
0.0 0.0
code= 000640, beta= 0.0
0.384681019862 0.00115145081169
code= 000660, beta= 0.38468101986204134
0.0 0.0
code= 000670, beta= 0.0
0.79926386467 -0.00117682586702
code= 000720, beta= 0.7992638646703597
0.0 0.0
code= 000810, beta= 0.0
0.75241249832 0.000571208176808
code= 000880, beta= 0.7524124983196449
0.717288727057 -0.000762898022838
code= 000990, beta= 0.7172887270570509
0.0 0.0
code= 001040, beta= 0.0

KeyboardInterrupt: